@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "JetBrains Mono", monospace;
}

:root {
    --color_1: #FFDB0C;
    --color_2: #FFF8D4;
    --color_3: #000000;
    --color_4: #FFE979;
}

body {
    background-color: var(--color_2);
}